@font-face {
	font-family: "Tetreml";
	src: url("Tetreml.ttf");
}

@font-face {
	font-family: "Tetreml";
	src: url("Tetreml italic.ttf");
	font-style: italic;
}

@font-face {
	font-family: "Tetreml";
	src: url("Tetreml semilight.ttf");
	font-weight: 350;
}

@font-face {
	font-family: "Tetreml";
	src: url("Tetreml light.ttf");
	font-weight: 300;
}